.button-choices {
	position: absolute;
	justify-content: center;
	background-color: #04773C;
	border: 3px solid #CFA646;
	color: #EFF4F0;
	font-size: 3vmin;
	border-radius: 50%;
	height: 11%;
	width: 9%;
}

#hit {
	bottom: 2%;
	right: 70%;
}

#stay {
	bottom: 2%;
	right: 60%;
}

#ins {
	bottom: 2%;
	right: 24%;
}

#double-down {
	bottom: 2%;
	right: 50%;
}

#split {
	bottom: 2%;
	right: 40%;
}

#start {
	bottom: 2%;
	left: 1%;
	border-radius: 10%;
}

#reset {
	bottom: 2%;
	right: 1%;
	border-radius: 10%;
}

.join-buttons,
#start,
#reset {
	position: absolute;
	justify-content: center;
	background-color: #04773C;
	border: 3px solid #CFA646;
	color: #EFF4F0;
	border-radius: 40%;
	height: 8%;
	width: 6%;
}

.join-buttons {
	display: none;
}

#buy-in {
	transform: rotate(-22deg);
	top: 55%;
	right: 7.9%;
	display: block;
}

#buy-in-two {
	transform: rotate(-15.3deg);
	top: 62%;
	right: 20.3%;
}

#buy-in-three {
	transform: rotate(-7deg);
	top: 66%;
	right: 33.5%;
}

#buy-in-four {
	transform: rotate(0deg);
	top: 67%;
	right: 47%;
}

#buy-in-five {
	transform: rotate(7deg);
	top: 66%;
	left: 33.5%;
}

#buy-in-six {
	transform: rotate(15.3deg);
	top: 62%;
	left: 20.3%;
}

#buy-in-seven {
	transform: rotate(22deg);
	top: 55%;
	left: 7.9%;
}
