.button-choices {
	position: absolute;

	justify-content: center;

	width: 9%;
	height: 11%;

	color: #EFF4F0;
	border: 3px solid #CFA646;
	border-radius: 50%;
	background-color: #04773C;

	font-size: 3vmin;
}

#hit {
	right: 70%;
	bottom: 2%;
}

#stay {
	right: 60%;
	bottom: 2%;
}

#ins {
	right: 24%;
	bottom: 2%;
}

#double-down {
	right: 50%;
	bottom: 2%;
}

#split {
	right: 40%;
	bottom: 2%;
}

#start {
	bottom: 2%;
	left: 1%;

	border-radius: 10%;
}

#reset {
	right: 1%;
	bottom: 2%;

	border-radius: 10%;
}

.join-buttons,
#start,
#reset {
	position: absolute;

	justify-content: center;

	width: 6%;
	height: 8%;

	color: #EFF4F0;
	border: 3px solid #CFA646;
	border-radius: 40%;
	background-color: #04773C;
}

#start,
#reset {
	font-size: 2vmin;
}

.join-buttons {
	display: none;

	font-size: 1.6vmin;
}

#buy-in {
	top: 55%;
	right: 7.9%;

	display: block;

	transform: rotate(-22deg);
}

#buy-in-two {
	top: 62%;
	right: 20.3%;

	transform: rotate(-15.3deg);
}

#buy-in-three {
	top: 66%;
	right: 33.5%;

	transform: rotate(-7deg);
}

#buy-in-four {
	top: 67%;
	right: 47%;

	transform: rotate(0deg);
}

#buy-in-five {
	top: 66%;
	left: 33.5%;

	transform: rotate(7deg);
}

#buy-in-six {
	top: 62%;
	left: 20.3%;

	transform: rotate(15.3deg);
}

#buy-in-seven {
	top: 55%;
	left: 7.9%;

	transform: rotate(22deg);
}

#rules-button,
#cheat-button {
	position: absolute;

	justify-content: center;

	width: 7%;
	height: 6%;

	color: #EFF4F0;
	border: 3px solid #CFA646;
	background-color: #04773C;

	font-size: 2vmin;
}

#rules-button {
	top: 2.4%;
}

#cheat-button {
	top: 9%;
}
