.cards-hide {
	visibility: hidden;

	background-image: url(img/cards/backs/blue.svg);
}

#card-seven,
#card-seven-two,
#card-six,
#card-six-two,
#card-five,
#card-five-two,
#card-four,
#card-four-two,
#card-three,
#card-three-two,
#card-two,
#card-two-two,
#card-one,
#card-one-two,
#card-dealer,
#card-dealer-two,
#card-dealer-three,
#card-dealer-four,
#card-dealer-five,
#card-dealer-six,
#card-dealer-seven,
#card-dealer-eight,
#card-dealer-nine,
#card-dealer-ten,
#card-dealer-eleven,
#card-dealer-twelve,
#card-dealer-thirteen,
#card-dealer-fourteen,
#card-dealer-fifteen,
#card-dealer-sixteen,
#card-dealer-seventeen,
#card-dealer-hider {
	position: absolute;

	width: 72px;
	height: 100px;

	border: 1px solid black;
	background-size: cover;
}

#card-seven-three,
#card-seven-four,
#card-seven-five,
#card-seven-six,
#card-seven-seven,
#card-seven-eight,
#card-seven-nine,
#card-seven-ten,
#card-seven-eleven,
#card-seven-twelve,
#card-seven-thirteen,
#card-seven-fourteen,
#card-seven-fifteen,
#card-seven-sixteen,
#card-seven-seventeen,
#card-six-three,
#card-six-four,
#card-six-five,
#card-six-six,
#card-six-seven,
#card-six-eight,
#card-six-nine,
#card-six-ten,
#card-six-eleven,
#card-six-twelve,
#card-six-thirteen,
#card-six-fourteen,
#card-six-fifteen,
#card-six-sixteen,
#card-six-seventeen,
#card-five-three,
#card-five-four,
#card-five-five,
#card-five-six,
#card-five-seven,
#card-five-eight,
#card-five-nine,
#card-five-ten,
#card-five-eleven,
#card-five-twelve,
#card-five-thirteen,
#card-five-fourteen,
#card-five-fifteen,
#card-five-sixteen,
#card-five-seventeen,
#card-four-three,
#card-four-four,
#card-four-five,
#card-four-six,
#card-four-seven,
#card-four-eight,
#card-four-nine,
#card-four-ten,
#card-four-eleven,
#card-four-twelve,
#card-four-thirteen,
#card-four-fourteen,
#card-four-fifteen,
#card-four-sixteen,
#card-four-seventeen,
#card-three-three,
#card-three-four,
#card-three-five,
#card-three-six,
#card-three-seven,
#card-three-eight,
#card-three-nine,
#card-three-ten,
#card-three-eleven,
#card-three-twelve,
#card-three-thirteen,
#card-three-fourteen,
#card-three-fifteen,
#card-three-sixteen,
#card-three-seventeen,
#card-two-three,
#card-two-four,
#card-two-five,
#card-two-six,
#card-two-seven,
#card-two-eight,
#card-two-nine,
#card-two-ten,
#card-two-eleven,
#card-two-twelve,
#card-two-thirteen,
#card-two-fourteen,
#card-two-fifteen,
#card-two-sixteen,
#card-two-seventeen,
#card-one-three,
#card-one-four,
#card-one-five,
#card-one-six,
#card-one-seven,
#card-one-eight,
#card-one-nine,
#card-one-ten,
#card-one-eleven,
#card-one-twelve,
#card-one-thirteen,
#card-one-fourteen,
#card-one-fifteen,
#card-one-sixteen,
#card-one-seventeen {
	position: absolute;

	width: 36px;
	height: 50px;

	border: 1px solid black;
	background-size: cover;
}

#card-seven {
	top: 32.5%;
	right: 79.5%;

	transform: rotate(21deg);
}

#card-seven-two {
	top: 36.5%;
	right: 81.6%;

	transform: rotate(21deg);
}

#card-seven-three {
	bottom: 23%;
	left: 1%;

	transform: rotate(0deg);
}

#card-seven-four {
	bottom: 23%;
	left: 4%;

	transform: rotate(0deg);
}

#card-seven-five {
	bottom: 23%;
	left: 7%;

	transform: rotate(0deg);
}

#card-seven-six {
	bottom: 23%;
	left: 10%;

	transform: rotate(0deg);
}

#card-seven-seven {
	bottom: 19%;
	left: 1%;

	transform: rotate(0deg);
}

#card-seven-eight {
	bottom: 19%;
	left: 4%;

	transform: rotate(0deg);
}

#card-seven-nine {
	bottom: 19%;
	left: 7%;

	transform: rotate(0deg);
}

#card-seven-ten {
	bottom: 19%;
	left: 10%;

	transform: rotate(0deg);
}

#card-seven-eleven {
	bottom: 15%;
	left: 1%;

	transform: rotate(0deg);
}

#card-seven-twelve {
	bottom: 15%;
	left: 4%;

	transform: rotate(0deg);
}

#card-seven-thirteen {
	bottom: 15%;
	left: 7%;

	transform: rotate(0deg);
}

#card-seven-fourteen {
	bottom: 15%;
	left: 10%;

	transform: rotate(0deg);
}

#card-seven-fifteen {
	bottom: 11%;
	left: 1%;

	transform: rotate(0deg);
}

#card-seven-sixteen {
	bottom: 11%;
	left: 4%;

	transform: rotate(0deg);
}

#card-seven-seventeen {
	bottom: 11%;
	left: 7%;

	transform: rotate(0deg);
}

#card-six {
	top: 38%;
	right: 69%;

	transform: rotate(15deg);
}

#card-six-two {
	top: 42%;
	right: 71%;

	transform: rotate(15deg);
}

#card-six-three {
	bottom: 17%;
	left: 15%;

	transform: rotate(0deg);
}

#card-six-four {
	bottom: 17%;
	left: 18%;

	transform: rotate(0deg);
}

#card-six-five {
	bottom: 17%;
	left: 21%;

	transform: rotate(0deg);
}

#card-six-six {
	bottom: 17%;
	left: 24%;

	transform: rotate(0deg);
}

#card-six-seven {
	bottom: 12%;
	left: 15%;

	transform: rotate(0deg);
}

#card-six-eight {
	bottom: 12%;
	left: 18%;

	transform: rotate(0deg);
}

#card-six-nine {
	bottom: 12%;
	left: 21%;

	transform: rotate(0deg);
}

#card-six-ten {
	bottom: 12%;
	left: 24%;

	transform: rotate(0deg);
}

#card-six-eleven {
	bottom: 8%;
	left: 15%;

	transform: rotate(0deg);
}

#card-six-twelve {
	bottom: 8%;
	left: 18%;

	transform: rotate(0deg);
}

#card-six-thirteen {
	bottom: 8%;
	left: 21%;

	transform: rotate(0deg);
}

#card-six-fourteen {
	bottom: 8%;
	left: 24%;

	transform: rotate(0deg);
}

#card-six-fifteen {
	bottom: 4%;
	left: 15%;

	transform: rotate(0deg);
}

#card-six-sixteen {
	bottom: 4%;
	left: 18%;

	transform: rotate(0deg);
}

#card-six-seventeen {
	bottom: 4%;
	left: 21%;

	transform: rotate(0deg);
}

#card-five {
	top: 41.5%;
	right: 57.5%;

	transform: rotate(7deg);
}

#card-five-two {
	top: 45.5%;
	right: 59%;

	transform: rotate(7deg);
}

#card-five-three {
	bottom: 13%;
	left: 29%;

	transform: rotate(0deg);
}

#card-five-four {
	bottom: 13%;
	left: 32%;

	transform: rotate(0deg);
}

#card-five-five {
	bottom: 13%;
	left: 35%;

	transform: rotate(0deg);
}

#card-five-six {
	bottom: 13%;
	left: 38%;

	transform: rotate(0deg);
}

#card-five-seven {
	bottom: 9%;
	left: 29%;

	transform: rotate(0deg);
}

#card-five-eight {
	bottom: 9%;
	left: 32%;

	transform: rotate(0deg);
}

#card-five-nine {
	bottom: 9%;
	left: 35%;

	transform: rotate(0deg);
}

#card-five-ten {
	bottom: 9%;
	left: 38%;

	transform: rotate(0deg);
}

#card-five-eleven {
	bottom: 5%;
	left: 29%;

	transform: rotate(0deg);
}

#card-five-twelve {
	bottom: 5%;
	left: 32%;

	transform: rotate(0deg);
}

#card-five-thirteen {
	bottom: 5%;
	left: 35%;

	transform: rotate(0deg);
}

#card-five-fourteen {
	bottom: 5%;
	left: 38%;

	transform: rotate(0deg);
}

#card-five-fifteen {
	bottom: 1%;
	left: 29%;

	transform: rotate(0deg);
}

#card-five-sixteen {
	bottom: 1%;
	left: 32%;

	transform: rotate(0deg);
}

#card-five-seventeen {
	bottom: 1%;
	left: 35%;

	transform: rotate(0deg);
}

#card-four {
	top: 42.5%;
	right: 45%;

	transform: rotate(0deg);
}

#card-four-two {
	top: 47%;
	right: 46.5%;

	transform: rotate(0deg);
}

#card-four-three {
	bottom: 12%;
	left: 43.5%;

	transform: rotate(0deg);
}

#card-four-four {
	bottom: 12%;
	left: 46.5%;

	transform: rotate(0deg);
}

#card-four-five {
	bottom: 12%;
	left: 49.5%;

	transform: rotate(0deg);
}

#card-four-six {
	bottom: 12%;
	left: 52.5%;

	transform: rotate(0deg);
}

#card-four-seven {
	bottom: 8%;
	left: 43.5%;

	transform: rotate(0deg);
}

#card-four-eight {
	bottom: 8%;
	left: 46.5%;

	transform: rotate(0deg);
}

#card-four-nine {
	bottom: 8%;
	left: 49.5%;

	transform: rotate(0deg);
}

#card-four-ten {
	bottom: 8%;
	left: 52.5%;

	transform: rotate(0deg);
}

#card-four-eleven {
	bottom: 4%;
	left: 43.5%;

	transform: rotate(0deg);
}

#card-four-twelve {
	bottom: 4%;
	left: 46.5%;

	transform: rotate(0deg);
}

#card-four-thirteen {
	bottom: 4%;
	left: 49.5%;

	transform: rotate(0deg);
}

#card-four-fourteen {
	bottom: 4%;
	left: 52.5%;

	transform: rotate(0deg);
}

#card-four-fifteen {
	bottom: 0%;
	left: 43.5%;

	transform: rotate(0deg);
}

#card-four-sixteen {
	bottom: 0%;
	left: 46.5%;

	transform: rotate(0deg);
}

#card-four-seventeen {
	bottom: 0%;
	left: 49.5%;

	transform: rotate(0deg);
}

#card-three {
	top: 41%;
	right: 34%;

	transform: rotate(-7deg);
}

#card-three-two {
	top: 46%;
	right: 35%;

	transform: rotate(-7deg);
}

#card-three-three {
	right: 38%;
	bottom: 13%;

	transform: rotate(0deg);
}

#card-three-four {
	right: 35%;
	bottom: 13%;

	transform: rotate(0deg);
}

#card-three-five {
	right: 32%;
	bottom: 13%;

	transform: rotate(0deg);
}

#card-three-six {
	right: 29%;
	bottom: 13%;

	transform: rotate(0deg);
}

#card-three-seven {
	right: 38%;
	bottom: 9%;

	transform: rotate(0deg);
}

#card-three-eight {
	right: 35%;
	bottom: 9%;

	transform: rotate(0deg);
}

#card-three-nine {
	right: 32%;
	bottom: 9%;

	transform: rotate(0deg);
}

#card-three-ten {
	right: 29%;
	bottom: 9%;

	transform: rotate(0deg);
}

#card-three-eleven {
	right: 38%;
	bottom: 5%;

	transform: rotate(0deg);
}

#card-three-twelve {
	right: 35%;
	bottom: 5%;

	transform: rotate(0deg);
}

#card-three-thirteen {
	right: 32%;
	bottom: 5%;

	transform: rotate(0deg);
}

#card-three-fourteen {
	right: 29%;
	bottom: 5%;

	transform: rotate(0deg);
}

#card-three-fifteen {
	right: 38%;
	bottom: 1%;

	transform: rotate(0deg);
}

#card-three-sixteen {
	right: 35%;
	bottom: 1%;

	transform: rotate(0deg);
}

#card-three-seventeen {
	right: 32%;
	bottom: 1%;

	transform: rotate(0deg);
}

#card-two {
	top: 37%;
	right: 22%;

	transform: rotate(-15deg);
}

#card-two-two {
	top: 42.5%;
	right: 22.5%;

	transform: rotate(-15deg);
}

#card-two-three {
	right: 24%;
	bottom: 17%;

	transform: rotate(0deg);
}

#card-two-four {
	right: 21%;
	bottom: 17%;

	transform: rotate(0deg);
}

#card-two-five {
	right: 18%;
	bottom: 17%;

	transform: rotate(0deg);
}

#card-two-six {
	right: 15%;
	bottom: 17%;

	transform: rotate(0deg);
}

#card-two-seven {
	right: 24%;
	bottom: 12%;

	transform: rotate(0deg);
}

#card-two-eight {
	right: 21%;
	bottom: 12%;

	transform: rotate(0deg);
}

#card-two-nine {
	right: 18%;
	bottom: 12%;

	transform: rotate(0deg);
}

#card-two-ten {
	right: 15%;
	bottom: 12%;

	transform: rotate(0deg);
}

#card-two-eleven {
	right: 24%;
	bottom: 8%;

	transform: rotate(0deg);
}

#card-two-twelve {
	right: 21%;
	bottom: 8%;

	transform: rotate(0deg);
}

#card-two-thirteen {
	right: 18%;
	bottom: 8%;

	transform: rotate(0deg);
}

#card-two-fourteen {
	right: 15%;
	bottom: 8%;

	transform: rotate(0deg);
}

#card-two-fifteen {
	right: 24%;
	bottom: 4%;

	transform: rotate(0deg);
}

#card-two-sixteen {
	right: 21%;
	bottom: 4%;

	transform: rotate(0deg);
}

#card-two-seventeen {
	right: 18%;
	bottom: 4%;

	transform: rotate(0deg);
}

#card-one {
	top: 31%;
	right: 11%;

	transform: rotate(-21deg);
}

#card-one-two {
	top: 36.5%;
	right: 11.5%;

	transform: rotate(-21deg);
}

#card-one-three {
	right: 10%;
	bottom: 23%;

	transform: rotate(0deg);
}

#card-one-four {
	right: 7%;
	bottom: 23%;

	transform: rotate(0deg);
}

#card-one-five {
	right: 4%;
	bottom: 23%;

	transform: rotate(0deg);
}

#card-one-six {
	right: 1%;
	bottom: 23%;

	transform: rotate(0deg);
}

#card-one-seven {
	right: 10%;
	bottom: 19%;

	transform: rotate(0deg);
}

#card-one-eight {
	right: 7%;
	bottom: 19%;

	transform: rotate(0deg);
}

#card-one-nine {
	right: 4%;
	bottom: 19%;

	transform: rotate(0deg);
}

#card-one-ten {
	right: 1%;
	bottom: 19%;

	transform: rotate(0deg);
}

#card-one-eleven {
	right: 10%;
	bottom: 15%;

	transform: rotate(0deg);
}

#card-one-twelve {
	right: 7%;
	bottom: 15%;

	transform: rotate(0deg);
}

#card-one-thirteen {
	right: 4%;
	bottom: 15%;

	transform: rotate(0deg);
}

#card-one-fourteen {
	right: 1%;
	bottom: 15%;

	transform: rotate(0deg);
}

#card-one-fifteen {
	right: 10%;
	bottom: 11%;

	transform: rotate(0deg);
}

#card-one-sixteen {
	right: 7%;
	bottom: 11%;

	transform: rotate(0deg);
}

#card-one-seventeen {
	right: 4%;
	bottom: 11%;

	transform: rotate(0deg);
}

#card-dealer {
	top: 4%;
	right: 68%;

	transform: rotate(0deg);
}

#card-dealer-hider {
	top: 4%;
	right: 68%;

	transform: rotate(0deg);
}

#card-dealer-two {
	top: 4%;
	right: 60%;

	transform: rotate(0deg);
}

#card-dealer-three {
	top: 4%;
	right: 56%;

	transform: rotate(0deg);
}

#card-dealer-four {
	top: 4%;
	right: 52%;

	transform: rotate(0deg);
}

#card-dealer-five {
	top: 4%;
	right: 48%;

	transform: rotate(0deg);
}

#card-dealer-six {
	top: 4%;
	right: 44%;

	transform: rotate(0deg);
}

#card-dealer-seven {
	top: 4%;
	right: 40%;

	transform: rotate(0deg);
}

#card-dealer-eight {
	top: 4%;
	right: 36%;

	transform: rotate(0deg);
}

#card-dealer-nine {
	top: 4%;
	right: 32%;

	transform: rotate(0deg);
}

#card-dealer-ten {
	top: 4%;
	right: 28%;

	transform: rotate(0deg);
}

#card-dealer-eleven {
	top: 4%;
	right: 24%;

	transform: rotate(0deg);
}

#card-dealer-twelve {
	top: 4%;
	right: 20%;

	transform: rotate(0deg);
}

#card-dealer-thirteen {
	top: 4%;
	right: 16%;

	transform: rotate(0deg);
}

#card-dealer-fourteen {
	top: 4%;
	right: 12%;

	transform: rotate(0deg);
}

#card-dealer-fifteen {
	top: 4%;
	right: 8%;

	transform: rotate(0deg);
}

#card-dealer-sixteen {
	top: 4%;
	right: 4%;

	transform: rotate(0deg);
}

#card-dealer-seventeen {
	top: 4%;
	right: 0%;

	transform: rotate(0deg);
}
