@import "card-style.css";
@import "button-style.css";

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	outline: 0 !important;
}

body {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 4fr 1fr;
	height: 100vh;
}

section {
	display: grid;
}

.total,
.total-two,
.total-three,
.total-four,
.total-five,
.total-six,
.total-seven,
.result,
.result-two,
.result-three,
.result-four,
.result-five,
.result-six,
.result-seven,
span,
.player-turn-display,
h1 {
	background-color: #04773C;
	color: #CFA646;
	display: inline;
	font-size: 2.8vmin;
	
}

.player-turn-display {
	position: absolute;
	bottom: -5%;
	right: 42.5%;
}

#btn-sect {
	background-color: #04773C;
	color: #CFA646;
	grid-column-start: 1;
	grid-column-end: 4;
}

#table {
	position: relative;
}

#matt {
	position: relative;
	height: 100%;
	width: 100%;
}

